<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="css/sticky-footer-navbar.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <title>Protirus GitHub</title>
  </head>
  <body ng-app="myApp">
    <!-- <header> -->
        <!-- Fixed navbar -->
        <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="#">Protirus</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                </ul> -->
                <!-- <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->
            <!-- </div>
        </nav>
    </header> -->
    
    <!-- Begin page content -->
    <main role="main" class="container">

        <section class="jumbotron title-container text-center">
            <div>
                <img class="jumbo-title" src="/assets/protirus-title-blue.svg" alt="Protirus Title Logo">
                <br/>
                <h1>Welcome to our GitHub site!</h1><p>For more information about us and what we do, please visit<br/><a href="https://protirus.com" target="_blank">www.protirus.com</a></p>

                <div class="row justify-content-md-center">
                    <div class="col-lg-8">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model='searchText' placeholder="Search for a Repo ..." aria-label="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fas fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <div ng-controller="myController" data-ng-init="init()">
            
            <div class="tile-container" style="margin-top: -50px;">
                <div class="row">
                    <div ng-repeat="repo in repos | filter:searchText" class="col-md-6" style="margin-bottom: 50px;">
                        <div class="card mb-6 box-shadow">
                            <div class="card-img-container">
                                <img class="card-img" ng-src="https://raw.githubusercontent.com/Protirus/{{repo.name}}/master/docs/github/repo-io-thumb.png" onerror="this.onerror=null;this.src='/assets/repo-placeholder.png';"/>
                            </div>
                            <div class="card-body">
                            <h3>{{repo.name}}</h3>
                            <div class="card-text-or">
                                {{repo.description}}
                            </div>
                            <div class="d-flex justify-content-between card-view-button align-items-center">
                                <div class="btn-group">
                                    <button ng-click="OpenRepository(repo)" type="button" class="btn btn-sm btn-outline-secondary card-button">View</button>
                                </div>
                                    <div class="card-topics-container">
                                        <div ng-repeat="topic in repo.topics">
                                            <span class="badge badge-pill card-pill-primary" style="margin-left:5px;">{{topic}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <br/>
    </main>
    
    <!-- <footer class="footer">
        <div class="container">
            <span class="text-muted"><a href="https://www.protirus.com/" target="_blank">Protirus</a></span>
        </div>
    </footer> -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.min.js" ></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script> -->
    <!-- <script src="js/script.js"></script> -->
    <script src="js/app.js"></script>
  </body>
</html>